.navbar {
    background-color: #000000; /*Color de fondo de la barra de navegación*/
    color: #FFFFFF; /*Color del texto en la barra de navegación*/
}

.navbar-brand {
    color: #FFFFFF; /*Color del texto del logo*/
}

.nav-link {
    color: #FFFFFF; /*Color del texto de los enlaces*/
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.logo {
    flex: 1;
    text-align: center; 
}

.logo img {
    max-height: 500px;
    max-width: 500px;
    height: auto;
}


body {
    background-color: #7e7e7e;
    font-family: 'Helvetica Neue', sans-serif;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    width: 400px;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
} 

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
}

button[type="submit"] {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
}

button[type="submit"]:hover {
    background-color: #555;
}

.signup-link {
    color: #666;
    font-size: 14px;
}

.signup-link a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}


.separacion{
    margin: 30px auto;
    font-family: Arial;
    color: white;
    text-align: center;
}

.container1 {
    position: relative;
    width: 100%;
    max-width: 600px; /* ajusta el valor máximo según tus necesidades */
    margin: 0 auto;
}

.image {
    flex: 1;
}

.text {
    flex: 1;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .text {
        text-align: center;
    }
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
body {
    background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
    font-family: 'Rubik', sans-serif;
    background: #455A64;
    height: 100 !important;
}


.container-fluid{
    overflow:hidden; 
    margin-top: 250px ;
    background:#262626 ;
    color: #627482  !important;
    margin-bottom: 0 ;
    padding-bottom:0  ;
}

small{
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.bold-text{
    color: #989c9e !important;
}


.mt-55{
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important; 
}


h3{
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.social{
    font-size: 21px !important; 
}

.rights{
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important; 
}

