<!DOCTYPE html>
<html>
    {% extends 'menu.html' %}
    {% block content%}
    {% load static %}
    <head>
    <title>Agregar Obras - Ground Zero</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
    <div class="separacion"></div>

    <div class="formulario-container">
        <form id="formulario-obra" action="{% url 'inserta_obra'%}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="titulo">Título de la obra:</label>
            <input type="text" id="titulo" name="titulo" required>
        
            <label for="dimensiones">Dimensiones:</label>
            <input type="text" id="dimensiones" name="dimensiones" required>
        
            <label>¿Quieres que la obra sea destacada?</label>
            <input type="checkbox" name="destacada">

            <label for="fecha">Fecha de la obra:</label>
            <input id="fecha" type="date" placeholder="YYYY-MM-DD" name="fecha">
        
            <label for="descripcion">Descripción de la obra:</label>
            <textarea id="descripcion" name="descripcion" required></textarea>
        
            <label for="imagen">Imagen de la obra:</label>
            <input type="file" id="imagen" name="imagen" accept="image/*" required>

            <div class="separacion"></div>
            
            <select name="tecnica">
                {% for te in tecnicas %}
                    <option value="{{te.id_tecnica}}">{{te.tecnica}} </option>
                {% endfor %}
            </select>

            <div class="separacion"></div>

            <input type="submit" value="Enviar">
        </form>
    </div>

   <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Mensaje de Agregar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-message"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'validacionObra.js' %}"></script>

</body>
</html>
{% endblock content%}
