{% extends 'menu.html' %}
{% block content%}
{%load static%}
<div class="form-container">
  <h1 class="form-title">FORMULARIO INGRESO TECNICA</h1>
  {% if msg %}
  <div class="form-message">{{ msg }}</div>
  {% endif %}
  <form action="{% url 'inserta_tecnica'%}" method="POST">
    {% csrf_token %}
    <div class="form-separator"></div>
    <table class="minimalist-table">
      {{ form.as_table }}
      <tr>
        <td colspan="2" class="form-submit">
          <input type="submit" name="opcion" value="Agregar">
        </td>
      </tr>
    </table>
  </form>
  <a href="{% url 'crud_tecnica' %}" class="form-link">Volver</a>
</div>
{% endblock content%}