{% extends 'menu.html' %}
{% block content %}
{% load static %}
<div class="table-container">
  <h1 class="table-title">LISTADO OBRAS</h1>
  <br>

  <div class="table-wrapper">
    <table class="minimalist-table">
      <thead>
        <tr>
          <th>TITULO</th>
          <th>DIMENSIONES</th>
          <th>FECHA</th>
          <th>DESCRIPCION</th>
          <th>IMAGEN</th>
          <th>TECNICA</th>
          <th>DESTACADA</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for ob in obras %}
        <tr>
          <td data-label="TITULO">{{ ob.titulo }}</td>
          <td data-label="DIMENSIONES">{{ ob.dimensiones }} px</td>
          <td data-label="FECHA">{{ ob.fecha|date:'d-m-Y' }}</td>
          <td data-label="DESCRIPCION">{{ ob.descripcion }}</td>
          {% if ob.imagen %}
          <td data-label="IMAGEN"><img src="{{ ob.imagen.url }}" width="100"></td>
          {% else %}
          <td data-label="IMAGEN">No imagen</td>
          {% endif %}
          <td data-label="TECNICA">{{ ob.id_tecnica.tecnica }}</td>
          {% if ob.destacada == 1 %}
          <td data-label="DESTACADA">Destacada</td>
          {% else %}
          <td data-label="DESTACADA">No Destacada</td>
          {% endif %}
          <td data-label="MODIFICAR"><a href="{% url 'busca_obra' pk=ob.id_obra %}" class="edit-link">Modificar</a></td>
          <td data-label="ELIMINAR"><a href="{% url 'borra_obra' pk=ob.id_obra %}" class="delete-link">Eliminar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <button type="button" class="add-button">
    <a href="{% url 'inserta_obra' %}" class="button-link">AGREGAR</a>
  </button>
</div>
{% endblock content %}
