{% extends 'menu.html' %}
{% block content%}
{%load static%}
<div class="table-container">
  <h1 class="table-title">LISTADO OBRAS</h1>
  <br>

  <table class="minimalist-table">
    <thead>
      <tr>
        <th>TITULO</th>
        <th>DIMENSIONES</th>
        <th>FECHA</th>
        <th>DESCRIPCION</th>
        <th>IMAGEN</th>
        <th>TECNICA</th>
        <th>DESTACADA</th>
      </tr>
    </thead>
    <tbody>
      {% for ob in obras %}
      <tr>
        <td>{{ob.titulo}}</td>
        <td>{{ob.dimensiones}} px</td>
        <td>{{ob.fecha|date:'d-m-Y'}}</td>
        <td>{{ob.descripcion}}</td>
        {% if ob.imagen %}
        <td><img src="{{ ob.imagen.url }}" width="100"></td>
        {% else %}
        <td>No imagen</td>
        {% endif %}
        <td>{{ob.id_tecnica.tecnica}}</td>
        {% if ob.destacada == 1 %}
        <td>Destacada</td>
        {% else %}
        <td>No Destacada</td>
        {% endif %}
        <td><a href="{% url 'busca_obra' pk=ob.id_obra %}" class="edit-link">Modificar</a></td>
        <td><a href="{% url 'borra_obra' pk=ob.id_obra %}" class="delete-link">Eliminar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="button" class="add-button">
    <a href="{% url 'inserta_obra' %}" class="button-link">AGREGAR</a>
  </button>
</div>
{% endblock content%}