{% extends 'menu.html' %}
{% block content%}
{%load static%}
<div class="tabla-container">
    <table id="tabla-datos">
        <thead>
            <tr>
                <th>Seleccionar</th>
                <th>Nombre de la persona</th>
                <th>Obra de arte</th>
                <th>Foto de la obra</th>
                <th>Curriculum</th>
                <th>Descripción de la obra</th>
            </tr>
        </thead>
        <tbody>
            {% for obra in obras %}
            <tr>
                <td><input type="checkbox" name="obras[]" value="{{ obra.id }}"></td>
                <td>{{ obra.nombre }}</td>
                <td><img src="{{ obra.imagen.url }}"></td>
                <td>{{ obra.curriculum }}</td>
                <td>{{ obra.descripcion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="botones-container">
        <button class="aprobar">Aprobar</button>
        <button class="rechazar">Rechazar</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $.ajax({
        url: '/obras/',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            $.each(data, function(index, obra) {
                var fila = '<tr>' +
                    '<td><input type="checkbox" name="obras[]" value="' + obra.id + '"></td>' +
                    '<td>' + obra.artista.nombre + ' ' + obra.artista.apellido + '</td>' +
                    '<td>' + obra.nombre + '</td>' +
                    '<td><img src="' + obra.foto.url + '"></td>' +
                    '<td>' + obra.artista.curriculum + '</td>' +
                    '<td>' + obra.descripcion + '</td>' +
                    '</tr>';
                $('#tabla-datos tbody').append(fila);
            });
        },
        error: function(xhr, status, error) {
            console.error(xhr.responseText);
        }
    });
});
</script>
{% endblock %}