<!DOCTYPE html>
<html>
    {% extends 'menu.html' %}
    {% block content%}
    {%load static%}
    <title>Administrador - Ground Zero</title>
    </head>
    <body>
        

    <div class="popup" id="popup">
        <div class="icon">
            <i class="fas fa-check"></i>
        </div>
        <p>Se ha iniciado la sesión correctamente</p>
    </div>
    
    <script>
        window.onload = function() {
            var popup = document.getElementById("popup");
            popup.classList.add("show");
            setTimeout(function() {
                popup.classList.remove("show");
            }, 2000);
        };
    </script>

    <div class="separacion">
    </div>

    <div class="tabla-container">
        <table id="tabla-datos">
        <thead>
            <tr>
            <th>Seleccionar</th>
            <th>Nombre de la persona</th>
            <th>Obra de arte</th>
            <th>Foto de la obra</th>
            <th>Curriculum</th>
            <th>Descripción de la obra</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            
            </tr>

            <tr>
            
            </tr>

            <!-- Aquí van las demás filas -->
        </tbody>
        </table>
        <div class="botones-container">
            <button class="aprobar">Aprobar</button>
            <button class="rechazar">Rechazar</button>
        </div>
    </div>

    <script src="{% static 'api.js' %}"></script>

<!-- FOOTER -->
    </body>
    {% endblock content%}
</html>