<!DOCTYPE html>
<html>
    {% extends 'menu.html' %}
    {% block content%}
    {%load static%}
    <head>
    <title>Agregar Obras - Ground Zero</title>
    </head>
    <body>
        
        <div class="popup" id="popup">
            <div class="icon">
                <i class="fas fa-check"></i>
            </div>
            <p>Se ha iniciado la sesión correctamente</p>
        </div>
        
        <script>
            window.onload = function() {
                var popup = document.getElementById("popup");
                popup.classList.add("show");
                setTimeout(function() {
                    popup.classList.remove("show");
                }, 2000);
            };
        </script>


    <div class="separacion"></div>

    <div class="formulario-container">
        <form action="procesar-formulario.php" method="POST">
            <label for="nombre">Cantidad de obras subidas: 2</label >
        </form>
    </div>

    <div class="separacion"></div>

    <div class="formulario-container">
        <form id="register-form" action="{% url 'obra' %}" method="POST">
            <label for="Rut">Rut</label>
            <input type="text" id="Rut" name="Rut" required>
     
            <label for="titulo">Título de la obra:</label>
            <input type="text" id="titulo" name="titulo" required>
        
            <label for="dimensiones">Dimensiones:</label>
            <input type="text" id="dimensiones" name="dimensiones" required>
        
            <label for="tecnica">Técnica utilizada:</label>
            <select id="country" class="form-control" name="country">
                <option value=""></option>
                <option value="AC">Acuarela</option>
                <option value="OL">Óleo</option>
                <option value="ACR">Acrílico</option>
                <option value="PAS">Pastel</option>
                <option value="TNC">Tinta china</option>
            </select>

            <div class="separacion"></div>

            <label>Categoría:</label>
            <div class="checkbox-container">
              <input type="checkbox" name="categoria[]" value="contemporaneo">
              <label>Contemporáneo</label>
              <br>
              <input type="checkbox" name="categoria[]" value="precolombino">
              <label>Precolombino</label>
              <br>
              <input type="checkbox" name="categoria[]" value="otro">
              <label>Otro</label>
            </div>

            <div class="separacion"></div>

            <label>¿Quieres que la obra sea destacada?</label>
            <div class="radio-container">
              <input type="radio" name="destacada" value="si">
              <label>Sí</label>
              <br>
              <input type="radio" name="destacada" value="no">
              <label>No</label>
            </div>

        
            <label  for="Fecha_obra">Fecha de la obra</label>
            <input id="birthdate" class="form-control" type="date" placeholder="YYYY-MM-DD" name="birthdate">
        
            <label for="descripcion">Descripción de la obra:</label>
            <textarea id="descripcion" name="descripcion" required></textarea>
        
            <label for="imagen">Imagen de la obra (1):</label>
            <input type="file" id="imagen1" name="imagen1" accept="image/*" required>
        
            <input type="submit" value="Enviar">
        </form>
    </div>



<!-- FOOTER -->
  </body>
  {% endblock content%}
</html>