<!DOCTYPE html>
<html>
    {% extends 'menu.html' %}
    {% block content%}
    {%load static%}
    <head>
        <title>Galeria - Ground Zero</title>
        <script src="{% static 'api.js' %}"></script>
    </head>

<div class="separacion"></div>
<!-- RELLENO-->
<div class="galeria">
    <a href="{% url 'obra1' %}"><img src="{% static 'img/pintura1.png' %}" alt="Imagen 1"></a>
    <a href="{% url 'obra2' %}"><img src="{% static 'img/pintura2.png' %}" alt="Imagen 2"></a>
    <a href="{% url 'obra3' %}"><img src="{% static 'img/pintura3.png' %}" alt="Imagen 3"></a>
    <a href="{% url 'obra4' %}"><img src="{% static 'img/pintura4.jpg' %}" alt="Imagen 4"></a>
</div>


<div id="photos"></div>

<!-- FOOTER -->
    </body>
    {% endblock content%}
</html>