
<!DOCTYPE html>
<html>
    {% extends 'menu.html' %}
    {% block content%}
    {%load static%}
    <head>
    <title>Agregar Obras - Ground Zero</title>
    </head>

    
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
    <body>
        

        
        <div class="popup" id="popup">
            <div class="icon">
                <i class="fas fa-check"></i>
            </div>
            <p>Se ha iniciado la sesión correctamente</p>
        </div>
        
        <script>
            window.onload = function() {
                var popup = document.getElementById("popup");
                popup.classList.add("show");
                setTimeout(function() {
                    popup.classList.remove("show");
                }, 2000);
            };
        </script>


    <div class="separacion"></div>

    <div class="formulario-container">
        <form id="register-form" method="POST">
            
            <label for="nombre">Cantidad de obras subidas: 2</label >
        </form>
    </div>
    
    <div class="separacion"></div>

    <div class="formulario-container">
        <form action="{% url 'inserta_obra'%}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="Rut">Rut</label>
            <input type="text" id="Rut" name="Rut" required>
            
            <label for="titulo">Título de la obra:</label>
            <input type="text" id="titulo" name="nombre" required>
        
            <label for="dimensiones">Dimensiones:</label>
            <input type="text" id="dimensiones" name="dimensiones" required>
        
            <label>¿Quieres que la obra sea destacada?</label>
            <div class="radio-container">
            <input type="radio" name="destacada" value="si">
            <label>Sí</label>
            <br>
            <input type="radio" name="destacada" value="no">
            <label>No</label>
            </div>

            <label  for="Fecha_obra">Fecha de la obra</label>
            <input id="birthdate" class="form-control" type="date" placeholder="YYYY-MM-DD" name="fecha">
        
            <label for="descripcion">Descripción de la obra:</label>
            <textarea id="descripcion" name="descripcion" required></textarea>
        
            <label for="imagen">Imagen de la obra (1):</label>
            <input type="file" id="imagen1" name="imagen" accept="image/*" required>

            <div class="separacion"></div>

            <label>Categoría:</label>
            <select name="categoria">
                {% for categoria in categorias %}
                    <option value="{{ categoria.id_cate }}">{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
            
            <div class="separacion"></div>

            <input type="submit" value="Enviar">
        </form>
        
    </div>
<!-- FOOTER -->
</body>
{% endblock content%}
</html>