<!DOCTYPE html>
<html>
    {% extends 'menu.html' %}
    {% block content%}
    {%load static%}
    <head>
    <title>Pintura - Ground Zero</title>
    </head>
    <body>
    <!-- RELLENO-->
    <div class="separacion"></div>

    <div class="image-container">
        <img src="{% static 'img/pintura4.jpg' %}" alt="Descripción de la imagen">
        <div class="text">
        <h2>La noche estrellada</h2>
        <p>Precio: No se puede determinar</p>
        <p>Técnica Utilizada: Temple sobre lienzo</p>
        <p>Año: 1889</p>
        <p>Autor: Vincent van Gogh</p>
        <p>Historia:  fue pintada por Vincent van Gogh en 1889 durante su estancia en el hospital psiquiátrico
            de Saint-Paul-de-Mausole en Francia. Van Gogh había sufrido una crisis emocional y había ingresado
            en el hospital en mayo de ese año, donde permaneció durante un año.​</p>
        <p>Durante su estancia en el hospital, Van Gogh produjo algunas de sus obras más famosas, incluyendo 
            "La noche estrellada". Según sus propias palabras, la obra fue inspirada por la vista desde la ventana de
            su habitación en el hospital, donde podía ver el paisaje nocturno del pueblo de Saint-Rémy-de-Provence.</p>
    </div>
    </div>
<!-- FOOTER -->
    </body>
    {% endblock content%}
</html>