<!DOCTYPE html>
<html>
    {% extends 'menu.html' %}
    {% block content%}
    {%load static%}
    <head>
    <title>Pintura - Ground Zero</title>
    </head>
    <body>
<!-- RELLENO-->

<div class="separacion"></div>

<div class="image-container">
    <img src="{% static 'img/pintura1.png' %}" alt="Descripción de la imagen">
    <div class="text">
    <h2>Ariadna abandonada por Teseo</h2>
    <p>Precio: No se puede determinar</p>
    <p>Técnica Utilizada: Óleo sobre lienzo</p>
    <p>Año: 1774</p>
    <p>Autora: Angelica Kauffmann</p>
    <p>Historia: La artista usa un tema mitológico narrado por Hesíodo que describe el abandono de Ariadna por Teseo en Naxos. 
    El héroe ateniense había escapado del laberinto del Minotauro en Creta, llevándose a la princesa cretense, Ariadna, quien se había enamorado
    de Teseo. Luego, de regreso a Atenas, la abandona en la isla mientras duerme (por orden de los dioses o a traición, según la versión), 
    por lo que el despertar de la desconsolada princesa suele ser un tema recurrente en su iconografía.​</p>
  </div>
</div>

<!-- FOOTER -->
    </body>
    {% endblock content%}
</html>