<!DOCTYPE html>
<html>
    {% extends 'menu.html' %}
    {% block content%}
    {%load static%}
    <head>
    <title>Pintura - Ground Zero</title>
    </head>
    <body>
    <!-- RELLENO-->
    <div class="separacion"></div>

    <div class="image-container">
        <img src="{% static 'img/pintura2.png' %}" alt="Descripción de la imagen">
        <div class="text">
        <h2>El ángel caido</h2>
        <p>Precio: No se puede determinar</p>
        <p>Técnica Utilizada: Óleo sobre lienzo</p>
        <p>Año: 1847</p>
        <p>Autor: Alexandre Cabanel</p>
        <p>Historia: En el capítulo duodécimo del Apocalipsis de San Juan se narra una gran batalla en los cielos, 
        en la que un ejército de ángeles rebeldes fueron derrotados por San Miguel y sus ángeles. El ángel caído fue 
        condenado a vivir en la tierra.​</p>
        </div>
    </div>


<!-- FOOTER -->
    </body>
    {% endblock content%}
</html>