<!DOCTYPE html>
<html>
    {% extends 'menu.html' %}
    {% block content%}
    {%load static%}
    <head>
    <title>Pintura - Ground Zero</title>
    </head>
    <body>
    <!-- RELLENO-->
    <div class="separacion"></div>

    <div class="image-container">
        <img src="{% static 'img/pintura3.png' %}" alt="Descripción de la imagen">
        <div class="text">
        <h2>El nacimiento de Venus</h2>
        <p>Precio: No se puede determinar</p>
        <p>Técnica Utilizada: Temple sobre lienzo</p>
        <p>Año: c. 1482-1485</p>
        <p>Autor: 	Sandro Botticelli</p>
        <p>Historia: La historia detrás de la pintura se basa en la mitología griega. 
        Según la leyenda, Venus (Afrodita en la mitología griega) nació del mar después de que su padre, el dios Urano,
        fuera castrado por su hijo Cronos, y sus genitales fueran arrojados al mar. Venus emergió del mar en una concha, 
        llevada por el viento y las olas.​</p>
    </div>
    </div>

<!-- FOOTER -->
    </body>
    {% endblock content%}
</html>