<!DOCTYPE html>
<html lang="es">
  {%load static%}
<head>
<meta charset="UTF-8">
<title>Iniciar sesión - Ground Zero</title>
<link rel="icon" href="img/lienzo.png">
<link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="login-container">
    <div class="login-box">
      <button class="login-button artist-button" onclick="window.location.href='loginAR.html';">Artista</button>
      <button class="login-button admin-button" onclick="window.location.href='loginAD.html';">Administrador</button>
    </div>
    </div>
  </div>
</body>
</html>